### **Importing Important Libraries**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### **Reading Dataset**

In [ ]:
data=pd.read_csv("/content/heart_disease_data.csv", encoding_errors="ignore")

In [ ]:
def data_quality_check(data):
  print(" ")
  print("*"*50)
  print("")
  print("The shape of data is:\n", data.shape)
  print(" ")
  print("*"*50)
  print("")
  print("The data information:\n", data.info())
  print(" ")
  print("*"*50)
  print("")
  print("The data description is:\n", data.describe())
  print(" ")
  print("*"*50)
  print("")
  print("The Null count is:\n", data.isnull().sum())
  print(" ")
  print("*"*50)
  print("")
  print("Head of data:\n", data.head())
  print(" ")
  print("*"*50)
  print("")
  print("Tail of data:\n", data.tail())

In [ ]:
print(data_quality_check(data))

**************************************************

The shape of data is:
 (303, 14)

**************************************************

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB
The data information:
 None

**************************************************

The data description is:
               age         sex          cp    trestbps        chol         fbs  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  131.623762  246.264026    0.148515
std      9.082101    0.466011    1.032052   17.538143   51.830751    0.356198
min     29.000000    0.000000    0.000000   94.000000  126.000000    0.000000
25%     47.500000    0.000000    0.000000  120.000000  211.000000    0.000000
50%     55.000000    1.000000    1.000000  130.000000  240.000000    0.000000
75%     61.000000    1.000000    2.000000  140.000000  274.500000    0.000000
max     77.000000    1.000000    3.000000  200.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope          ca  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean     0.528053  149.646865    0.326733    1.039604    1.399340    0.729373
std      0.525860   22.905161    0.469794    1.161075    0.616226    1.022606
min      0.000000   71.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000  133.500000    0.000000    0.000000    1.000000    0.000000
50%      1.000000  153.000000    0.000000    0.800000    1.000000    0.000000
75%      1.000000  166.000000    1.000000    1.600000    2.000000    1.000000
max      2.000000  202.000000    1.000000    6.200000    2.000000    4.000000

             thal      target
count  303.000000  303.000000
mean     2.313531    0.544554
std      0.612277    0.498835
min      0.000000    0.000000
25%      2.000000    0.000000
50%      2.000000    1.000000
75%      3.000000    1.000000
max      3.000000    1.000000

**************************************************

The Null count is:
 age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

**************************************************

Head of data:
    age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   63    1   3       145   233    1        0      150      0      2.3      0
1   37    1   2       130   250    0        1      187      0      3.5      0
2   41    0   1       130   204    0        0      172      0      1.4      2
3   56    1   1       120   236    0        1      178      0      0.8      2
4   57    0   0       120   354    0        1      163      1      0.6      2

   ca  thal  target
0   0     1       1
1   0     2       1
2   0     2       1
3   0     2       1
4   0     2       1

**************************************************

Tail of data:
      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0
None

In [ ]:
data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [ ]:
data["target"].value_counts()

1    165
0    138
Name: target, dtype: int64

* **1 - Defective Heart**
* **0 - Healthy Heart**

In [ ]:
X = data.drop(columns=["target"], axis=1)
y = data["target"]

### **Train Test Split**

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [ ]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
259,38,1,3,120,231,0,1,182,1,3.8,1,0,3
64,58,1,2,140,211,1,0,165,0,0.0,2,0,2
249,69,1,2,140,254,0,0,146,0,2.0,1,3,3
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2
233,64,1,0,120,246,0,0,96,1,2.2,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2
66,51,1,2,100,222,0,1,143,1,1.2,1,0,2
131,49,0,1,134,271,0,1,162,0,0.0,1,0,2
269,56,1,0,130,283,1,0,103,1,1.6,0,0,3
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3

In [ ]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
198,62,1,0,120,267,0,1,99,1,1.8,1,2,3
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2
185,44,1,0,112,290,0,0,153,0,0.0,2,1,2
216,62,0,2,130,263,0,1,97,0,1.2,1,1,3
260,66,0,0,178,228,1,1,165,1,1.0,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,62,0,0,138,294,1,1,106,0,1.9,1,3,2
256,58,1,0,128,259,0,0,130,1,3.0,1,2,3
145,70,1,1,156,245,0,0,143,0,0.0,2,0,2
171,48,1,1,110,229,0,1,168,0,1.0,0,0,3
144,76,0,2,140,197,0,2,116,0,1.1,1,0,2

### **Logistic Regression Model Training**

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

#### **Training Model**

In [ ]:
model.fit(X_train, y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

#### **Model Prediction**

In [ ]:
y_pred = model.predict(X_test)

#### **Accuracy Score Calculations**

In [ ]:
from sklearn.metrics import accuracy_score

# Test data accuracy prediction score
test_accuracy = accuracy_score(y_pred, y_test)
print("The test accuracy score of data is:", test_accuracy)

The test accuracy score of data is: 0.8032786885245902