# Introduction to python

#### 1. Conditional or Relational operators: [>, >=, <, <=]
#### 2. Equality operators: [==, !=]
#### Note:
##### a. Output is always a Boolean Value
##### b. If the type of data is not same, TypeError will be raised.
##### c. It is not applicable to complex numbers or dictionary.
##### d. Chaining is possible but the output will be True if all conditions are True.

In [ ]:
# > operator
print(5 > 3)
print(6 > 44)

True
False

In [ ]:
# >= operator
print(55 >= 55)
print(555 >= 56)

True
True

In [ ]:
# < operator
print(6 < 7)
print(6 < 5)

True
False

In [ ]:
# <= operator
print(44 <= 320)
print(44 <= 44)
print(44 <= 43)

True
True
False

In [ ]:
# == operator
print(44 == 44)
print(44 == 45)

True
False

In [ ]:
# != operator
print("piyush" != "Piyush")
print("piyush" != "piyush")

True
False

In [ ]:
# Chaining Comparison Operators
print(1 < 2 < 3 > 1 <= True)
print( 1 < 2 < 3 > 1 <= False)
print((22+1) > (20-1) < (10*2) > (10/2))

True
False
True

#### 3. Logical operators:- [ and, or, not]
##### AND operator rules:
##### 1. If both the operands are False Values [0, 0.0, False, '', 0 + 0j, 0 + 0.0j] then the output will be First operand of the expression.

In [ ]:
# And Operator
'' and 0.0

''

In [ ]:
0 and 0.0

0

In [ ]:
0j and 0

0j

##### 2. If both the operands are True Values [any int, any float, any str, any complex number] then the output will be Second operand of the expression.

In [ ]:
23 and 0.1

0.1

In [ ]:
22 and True

True

In [ ]:
22.55 and 2 + 3j

(2+3j)

In [ ]:
'Piuyush' and 0.98

0.98

#### 3. If one of the operand is False value then output will be False value

In [ ]:
0 and "Piyush"

0

In [ ]:
True and False

False

In [ ]:
23 and ""

''

In [ ]:
"Piyush" and 0

0

#### OR operator

##### Rules:
##### 1. If both the operands are False Values [0, 0.0, False, '', 0 + 0j, 0 + 0.0j] then the output will be Second operand of the expression.

In [ ]:
False or False
0 or 0j

0j

In [ ]:
'' or 0

0

In [ ]:
0 + 0j or False

False

##### 2. If both the operands are True Values then the output will be First operand of the expression.

In [ ]:
"PIYUSH" or 23

'PIYUSH'

In [ ]:
' ' or 34

' '

In [ ]:
23.5 or True

23.5

##### 3. If one of the operands are True Values then the output will be True operand of the expression.

In [ ]:
23 or 0

23

In [ ]:
"p" or 0j

'p'

In [ ]:
False or 'True'

'True'

#### NOT operator: Always inverts the result but always returns boolean value.
##### It always works with one value

In [ ]:
not True

False

In [ ]:
not -90

False

In [ ]:
not 0

True

In [ ]:
not 1

False

#### 4. Bitwise operators:- 
###### '&': Bitwise AND, If both bit are 1 output will be 1, else 0
###### '|': Bitwise OR, If one of the bit is 1 output is 1, If both bit are 0 output will be 0
###### '~': Bitwise NOR or Compliment
###### '^': Bitwise XOR, If one of the bit is 1 output will be 1, if both are same output is 0.
###### '<<': Left shift
###### '>>': Right shift

In [ ]:
# Bitwise Operators
# & operator
print(5 & 6)
print(5 & 7)

4
5

In [ ]:
# | operator
print(5 | 6)
print(5 | 7)

7
7

In [ ]:
# ^ operator
print(5 ^ 6)
print(5 ^ 7)

3
2

In [ ]:
# ~ operator
print(~5)
print(~6)

-6
-7

In [ ]:
# << left shift operator
print(5 << 2)

20

In [ ]:
# >> right shift operator
print(5 >> 2)

1